{% set base_class = social_media_list_base_class|default('social-media-list') %}
{% set modifiers = social_media_list_modifiers|default([]) %}

<ul {{ bem(base_class, (modifiers)) }}>
  {% block items %}
  {% endblock %}
</ul>
