@import "../../../src/scss/init";

.form {
  .form-control {
    --dp-bs-body-color: var(--form-input-color);
  }

  .form-check {
    .form-checkbox {
      float: none;
      margin-right: 0.5rem;

      &:checked {
        background-color: var(--checkbox-color);
        border-color: var(--checkbox-color);
      }
    }

    .form-check-label {
      color: var(--body-text-color);
    }
  }
}
