.btn{--dp-bs-btn-font-weight:var(--cta-font-weight);letter-spacing:var(--cta-letter-spacing);margin-block:var(--cta-margin-top-bottom);max-width:var(--cta-max-width);text-transform:var(--cta-text-transform);width:var(--cta-width)}.btn-block{--cta-width:100%;--cta-max-width:none}.btn-link{--cta-width:auto;--cta-max-width:none}

/*# sourceMappingURL=base-cta.scss.css.map*/