.small-box{text-align:center}.small-box__link{color:inherit;text-decoration:none}.small-box__link:active,.small-box__link:focus,.small-box__link:hover{color:var(--dp-bs-link-color);text-decoration:underline}.small-box__heading{margin-top:var(--content-spacer-m)}.small-box__heading:active,.small-box__heading:focus,.small-box__heading:hover{color:var(--heading-color)}.small-box__description{color:var(--dp-bs-link-color);font-size:.875rem;font-weight:700;letter-spacing:1.4px;margin-top:var(--content-spacer-s);text-transform:uppercase}

/*# sourceMappingURL=small-box.scss.css.map*/