{{ attach_library('droopler_theme/base-cta') }}

{%
  include 'radix:input' with {
    attributes: attributes.removeClass('button'),
    remove_form_control: true,
    input_utility_classes: ['btn', 'btn-primary']
  }
%}
