:root{--product-teaser-image-height:135px}.product-teaser{--media-height:var(--product-teaser-image-height);border:var(--product-teaser-border);box-shadow:var(--product-teaser-box-shadow);display:flex;flex-direction:column;justify-content:space-between;padding-block:1rem;position:relative}.product-teaser__image{overflow:hidden;position:relative}.product-teaser__image img{height:100%;left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:auto}.product-teaser__content{color:var(--product-teaser-text-color);padding:1rem .75rem 0}.product-teaser__link{height:100%;left:0;overflow:hidden;position:absolute;top:0;width:100%}.product-teaser .heading{color:inherit;font-size:1.25rem}.product-teaser:hover .heading{text-decoration:underline}

/*# sourceMappingURL=product-teaser.scss.css.map*/