.facets-result-item{align-items:center;display:flex}.facets-result-item__status{display:flex}.facets-result-item__status:before{background-image:url(../../src/assets/icons/x.svg);content:"";display:inline-block;height:20px;width:20px}.facets-result-item__count{margin-left:auto}.facets-result-item__value{letter-spacing:1px;text-transform:capitalize}

/*# sourceMappingURL=facets-result-item.scss.css.map*/