@import "../../../src/scss/init";

.footer-primary-column {
  --social-media-item-padding: 0.5rem;
  --social-media-item-font-size: 1.5rem;
  --social-media-item-margin-left: calc(var(--social-media-item-border-width) * -1);
  --social-media-list-margin-left: calc(var(--social-media-item-padding) * -1);
  --social-media-list-justify-content: start;

  p {
    white-space: pre;
  }

  ul {
    list-style: none;
    padding-left: 0;

    a {
      text-decoration: none;
      color: var(--footer-link-color);

      &:hover {
        text-decoration: underline;
        color: var(--footer-link-hover-color);
      }
    }
  }

  .nav {
    display: block;

    .nav-item {
      font-weight: 700;

      &:not(:first-child) {
        margin-top: var(--content-spacer-s);
      }

      .nav-link {
        padding: 0;
      }
    }
  }

  .heading {
    @include heading(6);
  }

  .body-text {
    margin-top: var(--content-spacer-s);
  }
}
