@import "../../../src/scss/init";

.block-mobile-filters-submit {
  &__content {
    text-align: center;
  }

  .mobile-filter-close {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
