{% set base_class = d_p_blog_image_base_class|default('d-p-blog-image') %}
{% set modifiers = d_p_blog_image_modifiers|default([]) %}

{% set additional_classes = (d_p_counter_additional_classes|default([])|merge([
  is_full_width ? 'full-width' : "",
])) %}

<div {{ bem(base_class, modifiers, '', additional_classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
  {% endblock %}
</div>
