:root{--tiles-gallery-sizer-width:25%}.tiles-gallery{background:var(--tiles-gallery-background-color);margin:calc(var(--tiles-gallery-item-padding)/-2) 0}.tiles-gallery--half-width-sizer{--tiles-gallery-sizer-width:50%;--tiles-gallery-item-standard-width-desktop:50%;--tiles-gallery-item-featured-width-desktop:100%;--tiles-gallery-item-standard-width-mobile:50%;--tiles-gallery-item-featured-width-mobile:100%}.tiles-gallery__sizer{width:var(--tiles-gallery-sizer-width)}.tiles-gallery__items .hidden{display:none}

/*# sourceMappingURL=tiles-gallery.scss.css.map*/