:root{--footer-primary-padding-top:3rem;--footer-primary-padding-bottom:3rem}.footer-primary{background-color:var(--footer-primary-background-color);padding-bottom:var(--footer-primary-padding-bottom);padding-top:var(--footer-primary-padding-top)}.footer-primary__content-wrapper{margin-top:calc(var(--content-spacer-m)*-1)}.footer-primary .block{margin-top:var(--content-spacer-m)}.footer-primary .block .divider{display:none}

/*# sourceMappingURL=footer-primary.scss.css.map*/