@use "sass:color";

*[data-theme="theme-light"] {
  --dp-bs-body-color: #{$color-hecuba};
  --form-input-color: #{$color-troilus};
  --section-background-color: #{$color-odysseus};
  --overlay-background-color: #{$color-odysseus};
  --divider-background-color: #{$color-achilles};
  --carousel-body-text-color-hover: #{$color-agamemnon};
  --carousel-item-divider-color: #{$color-iphis};
  --body-text-color: #{$color-hecuba};
  --body-text-heading-color: #{$color-cassandra};
  --body-text-strong-color: #{$color-troilus};
  --body-text-table-th-color: #{$color-odysseus};
  --body-text-table-th-background-color: #{$color-agamemnon};
  --body-text-table-tr-odd-background-color: #{$color-paris};
  --body-text-table-tr-even-background-color: #{color.adjust($color-paris, $lightness: 4%)};
  --heading-color: #{$color-agamemnon};
  --subtitle-color: #{$color-cassandra};
  --checkbox-color: #{$color-agamemnon};
  --banner-body-text-color: #{$color-cassandra};
  --subscribe-file-body-text-color: #{$color-cassandra};
  --subscribe-file-link-color: #{$color-cassandra};
  --subscribe-file-link-hover-color: #{$color-cassandra};
  --counter-color: #{$color-hecuba};
  --footer-link-color: #{$color-troilus};
  --footer-link-hover-color: #{$color-cassandra};
  --footer-primary-background-color: #{$color-odysseus};
  --footer-secondary-background-color: #{$color-hector};
  --footer-secondary-link-color: #{$color-cassandra};
  --social-media-border-color: #{rgba($color-cassandra, 0.2)};
  --hamburger-line-background-color: #{$color-agamemnon};
  --navigation-mobile-overlay-background-color: #{$color-cassandra};
  --navigation-mobile-background-color: #{$color-odysseus};
  --navigation-mobile-block-border-color: #{$color-iphis};
  --navigation-mobile-submenu-background-color: #{rgba($color-cassandra, 0.1)};
  --navigation-mobile-submenu-link-color: #{$color-cassandra};
  --navigation-mobile-submenu-link-color-active: #{$color-nestor};
  --navigation-mobile-submenu-link-color-hover: #{$color-nestor};
  --navigation-desktop-top-menu-link-color: #{$color-iphis};
  --navigation-desktop-top-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-menu-link-color: #{$color-cassandra};
  --navigation-desktop-bottom-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-submenu-background-color: #{$color-acamas};
  --navigation-desktop-bottom-submenu-link-color: #{$color-odysseus};
  --navigation-desktop-bottom-submenu-link-color-active: #{$color-nestor};
  --navigation-desktop-bottom-submenu-link-color-hover: #{$color-nestor};
  --header-search-page-link-color: #{$color-iphis};
  --header-search-page-link-color-hover: #{$color-agamemnon};
  --category-heading: #{$color-agamemnon};
  --category-text: #{$color-hecuba};
  --facet-tag-border-color: #{$color-diomedes};
  --facet-tag-border-color-hover: #{$color-patroclus};
  --facet-tag-bg-color: #{$color-leto};
  --facet-tag-text-color: #{$color-priam};
  --facet-active-text-color: #{$color-troilus};
  --exposed-filter-border-color-mobile: #{$color-hector};
  --exposed-filter-border-color-desktop: #{$color-priam};
  --product-teaser-text-color: #{$color-agamemnon};
  --product-teaser-box-shadow: 0 0 0.625rem -0.1875rem #{$color-aeneas};
  --product-teaser-border: 1px solid #{$color-hector};
  --product-slick-arrow-background-color: #{$color-odysseus};
  --media-overlay-background-color: #{$color-odysseus};
  --tiles-gallery-item-caption-background: #{$color-cassandra};
  --tiles-gallery-item-caption-text-color: #{$color-odysseus};
  --mobile-filter-icon-color: #828282;
  --mobile-filter-icon-color-hover: #{$color-odysseus};
  --mobile-filter-border: 2px solid #{$color-hector};
  --reference-content-background-color: #{$color-hecuba};
  --reference-content-text-color: #{$color-odysseus};
  --blog-teaser-divider: #{$color-diomedes};
  --side-by-side-grid-color: #{$color-paris};
  --group-of-text-blocks-grid-color: #{$color-paris};
  --price-block-color: #{$color-cassandra};
  --price-block-color-sidebar: #{$color-odysseus};
  --price-block-color-sidebar-background: #{rgba($color-cassandra, 0.57)};
  --price-block-color-spinner: #{$color-agamemnon};
  --price-block-color-up: #{$color-serpedon};
  --price-block-color-down: #{$color-agamemnon};
  --single-text-block-tile-background: #{$color-odysseus};
  --search-results-list-item-border: #{$color-hector};
}

*[data-theme="theme-dark"] {
  --dp-bs-body-color: #{$color-odysseus};
  --dp-bs-link-color: #{$color-odysseus};
  --dp-bs-link-color-rgb: #{to-rgb($color-odysseus)};
  --dp-bs-link-hover-color: #{$color-odysseus};
  --dp-bs-link-hover-color-rgb: #{to-rgb($color-odysseus)};
  --form-input-color: #{$color-troilus};
  --section-background-color: #{$color-cassandra};
  --overlay-background-color: #{$color-cassandra};
  --divider-background-color: #{$color-nestor};
  --body-text-color: #{$color-odysseus};
  --heading-color: #{$color-odysseus};
  --subtitle-color: #{$color-odysseus};
  --checkbox-color: #{$color-nestor};
  --subscribe-file-body-text-color: #{$color-odysseus};
  --subscribe-file-link-color: #{$color-odysseus};
  --subscribe-file-link-hover-color: #{$color-odysseus};
  --banner-body-text-color: #{$color-odysseus};
  --counter-color: #{$color-odysseus};
  --carousel-body-text-color-hover: #{$color-agamemnon};
  --carousel-item-divider-color: #{$color-iphis};
  --footer-link-color: #{$color-thersites};
  --footer-link-hover-color: #{$color-odysseus};
  --footer-primary-background-color: #{$color-cassandra};
  --footer-secondary-background-color: #{$color-hecuba};
  --footer-secondary-link-color: #{$color-odysseus};
  --social-media-border-color: #{rgba($color-odysseus, 0.2)};
  --hamburger-line-background-color: #{$color-odysseus};
  --navigation-mobile-overlay-background-color: #{$color-cassandra};
  --navigation-mobile-background-color: #{$color-cassandra};
  --navigation-mobile-block-border-color: #{$color-odysseus};
  --navigation-mobile-submenu-background-color: #{rgba($color-cassandra, 0.1)};
  --navigation-mobile-submenu-link-color: #{$color-cassandra};
  --navigation-mobile-submenu-link-color-active: #{$color-nestor};
  --navigation-mobile-submenu-link-color-hover: #{$color-nestor};
  --navigation-desktop-top-menu-link-color: #{$color-iphis};
  --navigation-desktop-top-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-menu-link-color: #{$color-cassandra};
  --navigation-desktop-bottom-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-submenu-background-color: #{$color-acamas};
  --navigation-desktop-bottom-submenu-link-color: #{$color-odysseus};
  --navigation-desktop-bottom-submenu-link-color-active: #{$color-nestor};
  --navigation-desktop-bottom-submenu-link-color-hover: #{$color-nestor};
  --header-search-page-link-color: #{$color-iphis};
  --header-search-page-link-color-hover: #{$color-agamemnon};
  --category-heading: #{$color-agamemnon};
  --category-text: #{$color-hecuba};
  --facet-tag-border-color: #{$color-diomedes};
  --facet-tag-border-color-hover: #{$color-patroclus};
  --facet-tag-bg-color: #{$color-leto};
  --facet-tag-text-color: #{$color-priam};
  --facet-active-text-color: #{$color-troilus};
  --exposed-filter-border-color-mobile: #{$color-hector};
  --exposed-filter-border-color-desktop: #{$color-priam};
  --product-teaser-text-color: #{$color-agamemnon};
  --product-teaser-box-shadow: 0 0 0.625rem -0.1875rem #{$color-aeneas};
  --product-teaser-border: 1px solid #{$color-hector};
  --product-slick-arrow-background-color: #{$color-odysseus};
  --media-overlay-background-color: #{$color-cassandra};
  --mobile-filter-icon-color: #828282;
  --mobile-filter-icon-color-hover: #{$color-cassandra};
  --mobile-filter-border: 2px solid #{$color-hector};
  --tiles-gallery-item-caption-background: #{$color-cassandra};
  --tiles-gallery-item-caption-text-color: #{$color-odysseus};
  --tiles-gallery-background-color: #{$color-odysseus};
  --blog-teaser-divider: #{$color-diomedes};
  --side-by-side-grid-color: #{$color-odysseus};
  --group-of-text-blocks-grid-color: #{$color-odysseus};
  --price-block-color: #{$color-cassandra};
  --price-block-color-sidebar: #{$color-odysseus};
  --price-block-color-sidebar-background: #{rgba($color-cassandra, 0.57)};
  --price-block-color-spinner: #{$color-agamemnon};
  --price-block-color-up: #{$color-serpedon};
  --price-block-color-down: #{$color-agamemnon};
  --single-text-block-tile-background: #{$color-cassandra};
  --search-results-list-item-border: #{$color-hector};
}

*[data-theme="theme-primary"] {
  --dp-bs-body-color: #{$color-odysseus};
  --form-input-color: #{$color-troilus};
  --section-background-color: #{$color-agamemnon};
  --overlay-background-color: #{$color-agamemnon};
  --divider-background-color: #{$color-nestor};
  --body-text-color: #{$color-odysseus};
  --heading-color: #{$color-nestor};
  --subtitle-color: #{$color-odysseus};
  --checkbox-color: #{$color-nestor};
  --banner-body-text-color: #{$color-odysseus};
  --subscribe-file-body-text-color: #{$color-odysseus};
  --subscribe-file-link-color: #{$color-odysseus};
  --subscribe-file-link-hover-color: #{$color-odysseus};
  --counter-color: #{$color-odysseus};
  --carousel-body-text-color-hover: #{$color-agamemnon};
  --carousel-item-divider-color: #{$color-iphis};
  --footer-link-color: #{$color-thersites};
  --footer-link-hover-color: #{$color-odysseus};
  --footer-primary-background-color: #{$color-cassandra};
  --footer-secondary-background-color: #{$color-hecuba};
  --footer-secondary-link-color: #{$color-odysseus};
  --social-media-border-color: #{rgba($color-odysseus, 0.2)};
  --hamburger-line-background-color: #{$color-odysseus};
  --navigation-mobile-overlay-background-color: #{$color-cassandra};
  --navigation-mobile-background-color: #{$color-agamemnon};
  --navigation-mobile-block-border-color: #{$color-odysseus};
  --navigation-mobile-submenu-background-color: #{rgba($color-cassandra, 0.1)};
  --navigation-mobile-submenu-link-color: #{$color-cassandra};
  --navigation-mobile-submenu-link-color-active: #{$color-nestor};
  --navigation-mobile-submenu-link-color-hover: #{$color-nestor};
  --navigation-desktop-top-menu-link-color: #{$color-iphis};
  --navigation-desktop-top-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-menu-link-color: #{$color-cassandra};
  --navigation-desktop-bottom-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-submenu-background-color: #{$color-acamas};
  --navigation-desktop-bottom-submenu-link-color: #{$color-odysseus};
  --navigation-desktop-bottom-submenu-link-color-active: #{$color-nestor};
  --navigation-desktop-bottom-submenu-link-color-hover: #{$color-nestor};
  --header-search-page-link-color: #{$color-iphis};
  --header-search-page-link-color-hover: #{$color-agamemnon};
  --category-heading: #{$color-agamemnon};
  --category-text: #{$color-hecuba};
  --facet-tag-border-color: #{$color-diomedes};
  --facet-tag-border-color-hover: #{$color-patroclus};
  --facet-tag-bg-color: #{$color-leto};
  --facet-tag-text-color: #{$color-priam};
  --facet-active-text-color: #{$color-troilus};
  --exposed-filter-border-color-mobile: #{$color-hector};
  --exposed-filter-border-color-desktop: #{$color-priam};
  --product-teaser-text-color: #{$color-agamemnon};
  --product-teaser-box-shadow: 0 0 0.625rem -0.1875rem #{$color-aeneas};
  --product-teaser-border: 1px solid #{$color-hector};
  --product-slick-arrow-background-color: #{$color-odysseus};
  --media-overlay-background-color: #{$color-agamemnon};
  --mobile-filter-icon-color: #828282;
  --mobile-filter-icon-color-hover: #{$color-odysseus};
  --mobile-filter-border: 2px solid #{$color-hector};
  --tiles-gallery-item-caption-background: #{$color-cassandra};
  --tiles-gallery-item-caption-text-color: #{$color-odysseus};
  --tiles-gallery-background-color: #{$color-odysseus};
  --blog-teaser-divider: #{$color-diomedes};
  --side-by-side-grid-color: #{$color-odysseus};
  --group-of-text-blocks-grid-color: #{$color-odysseus};
  --price-block-color: #{$color-cassandra};
  --price-block-color-sidebar: #{$color-odysseus};
  --price-block-color-sidebar-background: #{rgba($color-cassandra, 0.57)};
  --price-block-color-spinner: #{$color-cassandra};
  --price-block-color-up: #{$color-serpedon};
  --price-block-color-down: #{$color-cassandra};
  --single-text-block-tile-background: #{$color-agamemnon};
  --search-results-list-item-border: #{$color-hector};
}

*[data-theme="theme-secondary"] {
  --dp-bs-body-color: #{$color-hecuba};
  --form-input-color: #{$color-troilus};
  --section-background-color: #{$color-paris};
  --overlay-background-color: #{$color-paris};
  --divider-background-color: #{$color-achilles};
  --carousel-body-text-color-hover: #{$color-agamemnon};
  --carousel-item-divider-color: #{$color-iphis};
  --body-text-color: #{$color-hecuba};
  --heading-color: #{$color-agamemnon};
  --subtitle-color: #{$color-cassandra};
  --checkbox-color: #{$color-agamemnon};
  --banner-body-text-color: #{$color-cassandra};
  --subscribe-file-body-text-color: #{$color-cassandra};
  --subscribe-file-link-color: #{$color-cassandra};
  --subscribe-file-link-hover-color: #{$color-cassandra};
  --counter-color: #{$color-cassandra};
  --footer-link-color: #{$color-thersites};
  --footer-link-hover-color: #{$color-cassandra};
  --footer-primary-background-color: #{$color-odysseus};
  --footer-secondary-background-color: #{$color-hector};
  --footer-secondary-link-color: #{$color-cassandra};
  --social-media-border-color: #{rgba($color-cassandra, 0.2)};
  --hamburger-line-background-color: #{$color-cassandra};
  --navigation-mobile-overlay-background-color: #{$color-cassandra};
  --navigation-mobile-background-color: #{$color-paris};
  --navigation-mobile-block-border-color: #{$color-cassandra};
  --navigation-mobile-submenu-background-color: #{rgba($color-cassandra, 0.1)};
  --navigation-mobile-submenu-link-color: #{$color-cassandra};
  --navigation-mobile-submenu-link-color-active: #{$color-nestor};
  --navigation-mobile-submenu-link-color-hover: #{$color-nestor};
  --navigation-desktop-top-menu-link-color: #{$color-iphis};
  --navigation-desktop-top-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-menu-link-color: #{$color-cassandra};
  --navigation-desktop-bottom-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-submenu-background-color: #{$color-acamas};
  --navigation-desktop-bottom-submenu-link-color: #{$color-odysseus};
  --navigation-desktop-bottom-submenu-link-color-active: #{$color-nestor};
  --navigation-desktop-bottom-submenu-link-color-hover: #{$color-nestor};
  --header-search-page-link-color: #{$color-iphis};
  --header-search-page-link-color-hover: #{$color-agamemnon};
  --category-heading: #{$color-agamemnon};
  --category-text: #{$color-hecuba};
  --facet-tag-border-color: #{$color-diomedes};
  --facet-tag-border-color-hover: #{$color-patroclus};
  --facet-tag-bg-color: #{$color-leto};
  --facet-tag-text-color: #{$color-priam};
  --facet-active-text-color: #{$color-troilus};
  --exposed-filter-border-color-mobile: #{$color-hector};
  --exposed-filter-border-color-desktop: #{$color-priam};
  --product-teaser-text-color: #{$color-agamemnon};
  --product-teaser-box-shadow: 0 0 0.625rem -0.1875rem #{$color-aeneas};
  --product-teaser-border: 1px solid #{$color-hector};
  --product-slick-arrow-background-color: #{$color-odysseus};
  --media-overlay-background-color: #{$color-odysseus};
  --tiles-gallery-item-caption-background: #{$color-cassandra};
  --tiles-gallery-item-caption-text-color: #{$color-odysseus};
  --tiles-gallery-background-color: #{$color-odysseus};
  --mobile-filter-icon-color: #828282;
  --mobile-filter-icon-color-hover: #{$color-odysseus};
  --mobile-filter-border: 2px solid #{$color-hector};
  --blog-teaser-divider: #{$color-diomedes};
  --side-by-side-grid-color: #{$color-odysseus};
  --group-of-text-blocks-grid-color: #{$color-odysseus};
  --price-block-color: #{$color-cassandra};
  --price-block-color-sidebar: #{$color-odysseus};
  --price-block-color-sidebar-background: #{rgba($color-cassandra, 0.57)};
  --price-block-color-spinner: #{$color-agamemnon};
  --price-block-color-up: #{$color-serpedon};
  --price-block-color-down: #{$color-agamemnon};
  --single-text-block-tile-background: #{$color-odysseus};
  --search-results-list-item-border: #{$color-hector};
}

*[data-theme="theme-custom"] {
  --dp-bs-body-color: "inherit";
  --form-input-color: #{$color-troilus};
  --section-background-color: "inherit";
  --overlay-background-color: "inherit";
  --divider-background-color: #{$color-agamemnon};
  --hamburger-line-background-color: "inherit";
  --body-text-color: "inherit";
  --heading-color: "inherit";
  --subtitle-color: "inherit";
  --checkbox-color: #{$color-agamemnon};
  --banner-body-text-color: "inherit";
  --subscribe-file-body-text-color: "inherit";
  --subscribe-file-link-color: "inherit";
  --subscribe-file-link-hover-color: "inherit";
  --counter-color: "inherit";
  --carousel-body-text-color-hover: #{$color-agamemnon};
  --carousel-item-divider-color: #{$color-iphis};
  --footer-link-color: "inherit";
  --footer-link-hover-color: "inherit";
  --footer-primary-background-color: "inherit";
  --footer-secondary-background-color: "inherit";
  --footer-secondary-link-color: "inherit";
  --social-media-border-color: "inherit";
  --navigation-mobile-overlay-background-color: #{$color-cassandra};
  --navigation-mobile-background-color: #{$color-odysseus};
  --navigation-mobile-block-border-color: #{$color-iphis};
  --navigation-mobile-submenu-background-color: #{rgba($color-cassandra, 0.1)};
  --navigation-mobile-submenu-link-color: #{$color-cassandra};
  --navigation-mobile-submenu-link-color-active: #{$color-nestor};
  --navigation-mobile-submenu-link-color-hover: #{$color-nestor};
  --navigation-desktop-top-menu-link-color: #{$color-iphis};
  --navigation-desktop-top-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-menu-link-color: #{$color-cassandra};
  --navigation-desktop-bottom-menu-link-color-hover: #{$color-agamemnon};
  --navigation-desktop-bottom-submenu-background-color: #{$color-acamas};
  --navigation-desktop-bottom-submenu-link-color: #{$color-odysseus};
  --navigation-desktop-bottom-submenu-link-color-active: #{$color-nestor};
  --navigation-desktop-bottom-submenu-link-color-hover: #{$color-nestor};
  --header-search-page-link-color: #{$color-iphis};
  --header-search-page-link-color-hover: #{$color-agamemnon};
  --category-heading: #{$color-agamemnon};
  --category-text: #{$color-hecuba};
  --facet-tag-border-color: #{$color-diomedes};
  --facet-tag-border-color-hover: #{$color-patroclus};
  --facet-tag-bg-color: #{$color-leto};
  --facet-tag-text-color: #{$color-priam};
  --facet-active-text-color: #{$color-troilus};
  --exposed-filter-border-color-mobile: #{$color-hector};
  --exposed-filter-border-color-desktop: #{$color-priam};
  --product-teaser-text-color: "inherit";
  --product-teaser-box-shadow: 0 0 0.625rem -0.1875rem #{$color-aeneas};
  --product-teaser-border: 1px solid #{$color-hector};
  --media-overlay-background-color: "inherit";
  --mobile-filter-icon-color: #828282;
  --mobile-filter-icon-color-hover: #{$color-odysseus};
  --mobile-filter-border: 2px solid #{$color-hector};
  --tiles-gallery-item-caption-background: #{$color-cassandra};
  --tiles-gallery-item-caption-text-color: #{$color-odysseus};
  --tiles-gallery-background-color: #{$color-odysseus};
  --blog-teaser-divider: #{$color-diomedes};
  --side-by-side-grid-color: #{$color-paris};
  --group-of-text-blocks-grid-color: #{$color-paris};
  --price-block-color: #{$color-cassandra};
  --price-block-color-sidebar: #{$color-odysseus};
  --price-block-color-sidebar-background: #{rgba($color-cassandra, 0.57)};
  --price-block-color-spinner: #{$color-agamemnon};
  --price-block-color-up: #{$color-serpedon};
  --price-block-color-down: #{$color-agamemnon};
  --single-text-block-tile-background: "inherit";
  --search-results-list-item-border: #{$color-hector};
}
