:root{--social-media-item-padding:1rem;--social-media-item-border-width:1px;--social-media-item-font-size:2rem;--social-media-item-margin-left:0}.social-media-item{border-left:var(--social-media-item-border-width) solid var(--social-media-border-color);font-size:var(--social-media-item-font-size);margin-left:var(--social-media-item-margin-left)}.social-media-item:first-child{border-color:transparent}.social-media-item__icon{padding:var(--social-media-item-padding)}

/*# sourceMappingURL=social-media-item.scss.css.map*/