{% set base_class = d_p_subscribe_file_base_class|default('d-p-subscribe-file-download-page') %}
{% set modifiers = d_p_subscribe_file_modifiers|default([]) %}

<section {{ bem(base_class, (modifiers)) }}>
  <div {{ bem('content', [], base_class, ['container']) }}>
    {% block content %}
    {% endblock %}
  </div>
</section>
