{% embed 'droopler_theme:paragraph' %}

  {% block component_content %}
    {% embed 'droopler_theme:paragraph-d-p-blog-image' with {
      is_full_width: paragraph.fullWidthSwitch,
    } %}
      {% block content %}
        {{ content.group_blog_image_content }}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block content %}
    {{ content|without('group_blog_image_content') }}
  {% endblock %}

{% endembed %}
