{% embed 'droopler_theme:paragraph' %}

  {% block component_content %}
    {% embed 'droopler_theme:paragraph-d-p-side-by-side' with {
      with_grid: paragraph.enabledGrid,
      dividers: paragraph.hasDividers,
    }%}
      {% block heading %}
        {{ content.group_d_heading }}
      {% endblock %}
      {% block subheading %}
        {{ content.group_d_subheading }}
      {% endblock %}
      {% block content %}
        {{ content.group_d_content }}
      {% endblock %}
      {% block cta %}
        {{ content.group_d_cta }}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block content %}
    {{ content|without('group_d_heading', 'group_d_subheading', 'group_d_content', 'group_d_cta') }}
  {% endblock %}

{% endembed %}
