{% embed 'droopler_theme:paragraph' %}

  {% block component_content %}
    {% embed 'droopler_theme:paragraph-d-p-blog-text' %}
      {% block content %}
        {{ content.group_blog_text_content }}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block content %}
    {{ content|without('group_blog_text_content') }}
  {% endblock %}

{% endembed %}
