{% embed 'droopler_theme:paragraph-d-p-single-text-block--side-by-side' with {
  has_background: paragraph.mediaBackground,
  content_align: paragraph.textAlign,
  d_p_single_text_blocks_modifiers: ['in-side-by-side'],
} %}
  {% block background %}
    {{ content.group_d_block_background }}
  {% endblock %}

  {% block header %}
    {{ content.group_d_header }}
  {% endblock %}

  {% block content %}
    {{ content.group_d_block_content }}
  {% endblock %}
{% endembed %}
