{% embed 'droopler_theme:paragraph' %}

  {% block component_content %}
    {% embed 'droopler_theme:paragraph-d-p-side-image' with {
      image_side: paragraph.imageSide,
      image_width: paragraph.imageWidth
    } %}
      {% block background %}
        {{ content.group_d_side_image_background }}
      {% endblock %}

      {% block header %}
        {{ content.group_d_side_image_header }}
      {% endblock %}

      {% block content %}
        {{ content.group_d_side_image_content }}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block content %}
    {{ content|without('group_d_side_image_background', 'group_d_side_image_header', 'group_d_side_image_content') }}
  {% endblock %}

{% endembed %}
