{% embed 'droopler_theme:paragraph-d-p-single-text-block--group' with {
  has_background: paragraph.mediaBackground,
  is_grid: paragraph.parentEnabledGrid,
  d_p_single_text_blocks_modifiers: ['in-group'],
  content_align: paragraph.textAlign,
} %}
  {% block background %}
    {{ content.group_d_block_background }}
  {% endblock %}

  {% block header %}
    {{ content.group_d_header }}
  {% endblock %}

  {% block content %}
    {{ content.group_d_block_content }}
  {% endblock %}
{% endembed %}
