{% embed 'droopler_theme:paragraph' %}

  {% block component_content %}
    {% embed 'droopler_theme:paragraph-d-p-side-embed' %}
      {% block header %}
        {{ content.group_side_embed_header }}
      {% endblock %}

      {% block content %}
        {{ content.group_side_embed_body }}
      {% endblock %}

      {% block embed %}
        {{ content.group_side_embed_iframe|raw }}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block content %}
    {{ content|without('group_side_embed_header', 'group_side_embed_body', 'group_side_embed_iframe') }}
  {% endblock %}

{% endembed %}
