{% embed 'droopler_theme:paragraph' %}

  {% block component_content %}
    {% embed 'droopler_theme:paragraph-d-p-banner' %}
      {% block background %}
        {{ content.group_d_banner_background }}
      {% endblock %}

      {% block content_header %}
        {{ content.group_d_banner_content_header }}
      {% endblock %}

      {% block content %}
        {{ content.group_d_banner_content }}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block content %}
    {{ content|without('group_d_banner_background', 'group_d_banner_content_header', 'group_d_banner_content') }}
  {% endblock %}

{% endembed %}
