{% embed 'droopler_theme:paragraph' %}

  {% block component_content %}
    {% embed 'droopler_theme:paragraph-d-p-block' with {
      is_full_width: paragraph.fullWidth,
    }%}
      {% block content %}
        {{ content.field_block }}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block content %}
    {{ content|without('field_block') }}
  {% endblock %}

{% endembed %}
