{% embed "droopler_theme:block" with {
  block_modifiers: ['exposed-filters'],
  with_divider: TRUE
}%}
  {% block content %}
    {% embed "droopler_theme:social-media-list" %}
      {% block items %}
        {% for link in social_media_links %}
          {% include "droopler_theme:social-media-item" with {
            item: link
          }%}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
