{% set base_class = page_views_products_base_class|default('page-views') %}
{% set modifiers = page_views_products_modifiers|default([]) %}
{% set pager_total_items = pager_total_items|default(null) %}

<section {{ bem(base_class,modifiers) }}>
  <div {{ bem('overlay', [], base_class) }}>
    {% include 'droopler_theme:base-overlay' %}
  </div>

  <div {{ bem('content', [], base_class, ['container'])}}>
    <div {{ bem('content-wrapper', [], base_class, ['row']) }}>
      <div {{ bem('content-column', ['aside'], base_class, ['col-lg-3']) }}>
        {% block aside %}
        {% endblock %}
      </div>
      <div {{ bem('content-column', ['main'], base_class, ['col-lg-9']) }}>
        <div {{ bem('filters', [], base_class, ['row']) }}>
          {% if pager_total_items %}
            <div {{ bem('count-products', [], base_class, ['col-lg-8']) }}>
              <strong>{{ pager_total_items }}</strong> {{ 'Products'|trans }}
            </div>
          {% endif %}
          <div {{ bem('top-content', [], base_class, ['col-12', 'col-lg-4']) }}>
            {% block top_content %}
            {% endblock %}
          </div>
        </div>
        <div {{ bem('page-content-wrapper', [], base_class, ['row']) }}>
          <div {{ bem('page-content-column', [], base_class, ['col-12']) }}>
            {% block page_content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
