// Bootstrap variables overrides.

// Prefix.
$prefix: "dp-bs-" !default;

// Grid columns.
$grid-gutter-width: 3rem !default;

// Typography.
$font-size-root: 14px !default;
$font-size-base: 1rem !default;
$font-weight-bold: 700 !default;
$font-family-sans-serif: "Inter", sans-serif !default;
$h1-font-size: $font-size-base * 3.44 !default;
$h2-font-size: $font-size-base * 3 !default;
$headings-font-weight: $font-weight-bold !default;

// Links.
$link-decoration: none;

// Colors.
$color-agamemnon: #023047 !default; // Main, primary color, it changes backgrounds, menu and link color.
$color-nestor: #8ecae6 !default; // Alt lines, em text. Bootstrap secondary.
$color-achilles: #fb8500 !default;
$color-odysseus: #fff !default;
$color-diomedes: #d3d7d9 !default;
$color-patroclus: #979797 !default;
$color-thersites: #dee2e6 !default;

// The Trojans
// To use: Chromius Euphemus Hector Demoleon
$color-priam: #6a7173 !default;
$color-hecuba: #727272 !default;
$color-troilus: #4c4c4c !default;
$color-cassandra: #232526 !default;
$color-aeneas: #8e8a89 !default;
$color-leto: #f1f1f1 !default;
$color-serpedon: #39b54a !default;
$color-acamas: #232526 !default;

// The accents
// To use: Helen Iphis Clymene Phobos Deimos Apollo
$color-hector: #d3d3d3 !default;
$color-paris: #f5f7f9 !default;
$color-iphis: #ababab !default;

// Bootstrap variables overrides.
$primary: $color-achilles !default;
$secondary: $color-agamemnon !default;

// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;

// Corners.
$enable-rounded: true !default;

// Buttons.
$btn-font-weight: $font-weight-bold !default;
$btn-padding-y: 1rem !default;
$btn-padding-x: 1rem !default;
$btn-border-width: 2px !default;

// Paragraphs.
$paragraph-margin-bottom: 0 !default;

// Breadcrumb.
$breadcrumb-bg: #e9ecef !default;
$breadcrumb-border-radius: 0.25rem !default;
$breadcrumb-padding-y: 0.75rem !default;
$breadcrumb-padding-x: 1rem !default;
