.d-p-gallery__content{text-align:center}.d-p-gallery__content .body-text,.d-p-gallery__content .heading{margin-top:var(--content-spacer-m)}.d-p-gallery__content .cta-links{margin-top:var(--content-spacer-l)}.d-p-gallery__items{grid-gap:var(--content-spacer-l) var(--content-spacer-l);display:grid;grid-template-columns:repeat(2,1fr);margin-top:var(--content-spacer-m)}@media (min-width:768px){.d-p-gallery__items{grid-template-columns:repeat(3,1fr)}}@media (min-width:992px){.d-p-gallery__items{grid-template-columns:repeat(4,1fr)}}

/*# sourceMappingURL=paragraph-d-p-gallery.scss.css.map*/