{% embed "droopler_theme:reference-content" %}
  {% block image %}
    {{ content.group_image }}
  {% endblock %}

  {% block content %}
    {{ content.group_content }}
  {% endblock %}
{% endembed %}
