{% embed "droopler_theme:tiles-gallery" with {
  tiles_gallery_modifiers: ['quarter-width-sizer'],
}%}
  {% block items %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endblock %}
{% endembed %}
