{% for item in items %}
  {% include 'droopler_theme:d-p-side-by-side-item' with {
    content: item.content,
    side_by_side_addtional_classes: ['content-column', 'col-sm-6', 'item-' ~ loop.index]
  } %}
{% endfor %}
