{% for item in items %}
  {% if not label_hidden %}
    {% include "droopler_theme:base-heading" with {
      heading_tag: 'h3',
    }%}
  {% endif %}
  {% include "droopler_theme:base-body-text" with {
    text: item.content,
  } %}
{% endfor %}
