.facets-result-item {
  display: flex;
  align-items: center;

  &__status {
    display: flex;

    &::before {
      content: "";
      background-image: url("../../src/assets/icons/x.svg");
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }

  &__count {
    margin-left: auto;
  }

  &__value {
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}
