.reference-content{display:flex;flex-direction:column;padding:var(--content-spacer-none)}.reference-content__teaser{background-color:var(--reference-content-background-color);color:var(--reference-content-text-color);display:flex;flex:1;flex-direction:column;gap:var(--content-spacer-m);padding:var(--content-spacer-l)}.reference-content__teaser a{color:var(--reference-content-text-color);text-decoration:none;text-transform:uppercase}.reference-content__teaser a:hover{color:var(--reference-content-text-color);text-decoration:underline}.reference-content .heading{--heading-color:var(--reference-content-text-color);font-size:1.25rem}.reference-content .body-text{--body-text-color:var(--reference-content-text-color)}

/*# sourceMappingURL=reference-content.scss.css.map*/