@import "base/fonts";
@import "init";
@import "bootstrap/bootstrap";
@import "base/buttons";
@import "base/themes";
@import "base/margins";
@import "base/paddings";
@import "pages/search";

body {
  -webkit-font-smoothing: antialiased;
}

section {
  background-color: var(--section-background-color);
}

.first-child-no-spacer {
  > :first-child,
  > :only-child {
    margin-top: 0 !important;
  }
}

.frontend-editing {
  &__action {
    &--after,
    &--before {
      border: none !important;

      svg {
        background-color: $color-agamemnon;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
